{% comment %}
  Footer > Desktop
{% endcomment %}
<footer class="desktop">
  <div class="row">

    <div class="flex justify-left align-center">
      Copyright &copy; 2022 Usal. {{ settings.business-address }}
    </div>

    <div class="flex justify-center align-center">
      <svg
        width="100%"
        height="100%"
        viewBox="0 0 620 294"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        xmlns:serif="http://www.serif.com/"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:10;">
        <g transform="matrix(1,0,0,1,-40065,-74882)">
          <g transform="matrix(4.16667,0,0,4.16667,35156.2,39935.9)">
            <g id="usal-logo" serif:id="usal logo">
              <g transform="matrix(1,0,0,1,1317.53,8405.01)">
                <path d="M0,-0.38L1.719,-0.38C3.013,-0.38 3.64,-0.859 3.64,-1.837C3.64,-2.815 3.074,-3.254 1.861,-3.254L0,-3.254L0,-0.38ZM2.083,-4.072C3.903,-4.072 4.894,-3.314 4.894,-1.897C4.894,-1.019 4.409,-0.359 3.499,-0.001C4.51,0.358 4.752,0.838 4.793,2.494C4.833,3.273 4.874,3.492 4.995,3.732L3.782,3.732C3.661,3.532 3.64,3.253 3.58,2.255C3.519,1.317 3.397,0.937 3.033,0.698C2.75,0.499 2.265,0.398 1.638,0.398L0,0.398L0,3.732L-1.253,3.732L-1.253,-4.072L2.083,-4.072ZM-4.247,-0.18C-4.247,3.094 -1.557,5.788 1.719,5.788C5.016,5.788 7.685,3.113 7.685,-0.18C7.685,-3.454 5.016,-6.168 1.8,-6.168C-1.577,-6.168 -4.247,-3.533 -4.247,-0.18ZM8.696,-0.18C8.696,3.612 5.582,6.706 1.719,6.706C-2.123,6.706 -5.258,3.612 -5.258,-0.18C-5.258,-4.032 -2.144,-7.086 1.82,-7.086C5.582,-7.086 8.696,-3.952 8.696,-0.18Z" style="fill-rule:nonzero;" />
              </g>
              <g transform="matrix(1,0,0,1,1294.56,8424.44)">
                <path d="M0,9.638C0,10.165 -0.146,11.178 -0.435,12.679C-0.725,14.18 -1.396,15.735 -2.449,17.34C-3.503,18.948 -5.03,20.369 -7.031,21.607C-9.033,22.844 -11.745,23.463 -15.168,23.463C-18.486,23.463 -21.093,22.74 -22.989,21.29C-24.885,19.842 -25.833,17.617 -25.833,14.615C-25.833,12.719 -25.465,11.178 -24.727,9.993C-23.99,8.809 -23.028,7.874 -21.844,7.189C-20.659,6.505 -19.329,6.018 -17.854,5.728C-16.38,5.439 -14.905,5.214 -13.43,5.056L-8.374,4.582C-6.531,4.424 -4.858,4.187 -3.357,3.871C-1.856,3.555 -0.738,2.951 0,2.054L0,9.638ZM5.688,22.515C5.003,22.515 4.476,22.37 4.108,22.08C3.739,21.791 3.476,21.409 3.318,20.935C3.16,20.461 3.067,19.935 3.042,19.355C3.014,18.776 3.002,18.197 3.002,17.617L3.002,-6.004C3.002,-9.111 1.882,-11.626 -0.356,-13.549C-2.595,-15.47 -7.303,-16.432 -12.202,-16.432C-17.1,-16.432 -21.793,-15.312 -24.451,-13.075C-27.006,-10.924 -28.428,-7.738 -28.723,-3.524L-25.715,-3.524C-25.421,-6.895 -24.212,-9.435 -22.081,-11.139C-19.844,-12.928 -15.994,-13.825 -12.36,-13.825C-10.306,-13.825 -7.655,-13.614 -6.232,-13.193C-4.81,-12.771 -3.424,-12.192 -2.528,-11.455C-1.633,-10.716 -0.975,-9.875 -0.553,-8.926C-0.132,-7.979 0.079,-6.952 0.079,-5.846C0.079,-4.424 0,-3.239 -0.158,-2.291C-0.316,-1.343 -0.711,-0.565 -1.343,0.039C-1.975,0.646 -2.911,1.119 -4.148,1.461C-5.385,1.805 -7.084,2.054 -9.243,2.212L-13.904,2.607C-15.537,2.765 -17.236,3.03 -18.999,3.397C-20.765,3.766 -22.371,4.384 -23.819,5.253C-25.268,6.122 -26.465,7.308 -27.413,8.809C-28.361,10.31 -28.835,12.245 -28.835,14.615C-28.835,18.513 -27.65,21.397 -25.28,23.266C-22.91,25.134 -19.566,26.07 -15.247,26.07C-13.299,26.07 -11.508,25.833 -9.875,25.359C-8.243,24.885 -6.782,24.227 -5.49,23.384C-4.201,22.542 -3.108,21.58 -2.212,20.5C-1.317,19.421 -0.632,18.276 -0.158,17.064L0,17.064L0,19.197C0,20.04 0.065,20.817 0.197,21.528C0.328,22.239 0.579,22.858 0.948,23.384C1.316,23.91 1.856,24.332 2.567,24.648C3.278,24.964 4.239,25.122 5.451,25.122C6.293,25.122 7.11,25.017 7.9,24.806L7.9,22.278C6.952,22.436 6.214,22.515 5.688,22.515Z" style="fill-rule:nonzero;stroke-linejoin:miter;" />
              </g>
              <g transform="matrix(1,0,0,1,1258.5,8419.51)">
                <path d="M0,11.214C-1.291,10.345 -2.818,9.661 -4.582,9.16C-6.347,8.66 -7.544,8.226 -9.545,7.857C-11.178,7.488 -12.341,7.119 -13.947,6.75C-15.554,6.383 -17.002,5.895 -18.292,5.289C-19.583,4.684 -20.623,3.88 -21.413,2.879C-22.203,1.88 -22.598,0.563 -22.598,-1.07C-22.598,-2.492 -22.242,-3.703 -21.531,-4.705C-20.82,-5.704 -19.912,-6.521 -18.806,-7.153C-17.7,-7.785 -16.221,-8.232 -14.825,-8.497C-13.43,-8.76 -12.276,-8.891 -10.906,-8.891C-9.221,-8.891 -7.641,-8.694 -6.166,-8.299C-4.692,-7.904 -3.415,-7.298 -2.334,-6.482C-1.256,-5.665 -0.412,-4.599 0.194,-3.283C0.798,-1.966 1.102,-0.386 1.102,1.457L4.104,1.457C4.104,-0.859 3.721,-2.835 2.958,-4.468C2.195,-6.099 1.142,-7.442 -0.201,-8.497C-1.544,-9.55 -3.138,-10.313 -4.981,-10.788C-6.825,-11.262 -8.8,-11.499 -10.906,-11.499C-12.644,-11.499 -14.153,-11.327 -15.892,-10.985C-17.629,-10.641 -19.426,-10.076 -20.82,-9.287C-22.216,-8.497 -23.362,-7.43 -24.257,-6.087C-25.153,-4.744 -25.6,-3.071 -25.6,-1.07C-25.6,1.722 -24.916,3.841 -23.546,5.289C-22.177,6.738 -20.452,7.857 -18.371,8.647C-16.292,9.437 -14.259,9.908 -11.885,10.424C-9.271,10.991 -8.164,11.332 -6.083,11.964C-4.003,12.597 -2.279,13.492 -0.908,14.651C0.46,15.81 1.146,17.522 1.146,19.785C1.146,21.524 0.723,22.959 -0.118,24.091C-0.961,25.224 -2.028,26.106 -3.318,26.737C-4.609,27.369 -6.004,27.804 -7.505,28.041C-9.006,28.277 -10.415,28.397 -11.731,28.397C-13.576,28.397 -15.286,28.133 -16.866,27.607C-18.446,27.08 -19.829,26.303 -21.014,25.276C-22.199,24.249 -23.457,23.053 -24.194,21.604C-24.932,20.155 -25.702,18.715 -26.075,16.546L-26.531,13.503C-26.531,13.503 -26.969,9.234 -30.891,9.237L-31.202,9.237C-34.474,9.235 -35.369,12.944 -35.615,15.008C-35.709,15.436 -35.795,15.846 -35.87,16.151C-36.502,18.733 -37.315,20.931 -38.763,22.748C-40.211,24.565 -41.879,25.961 -44.222,26.935C-46.566,27.91 -49.475,28.397 -52.952,28.397C-55.691,28.397 -57.564,28.041 -59.486,27.33C-61.409,26.619 -63.029,25.671 -64.345,24.485C-65.662,23.301 -66.703,21.958 -67.465,20.457C-68.229,18.956 -68.822,17.429 -69.243,15.875C-69.665,14.322 -69.928,12.808 -70.033,11.332C-70.139,9.859 -70.191,8.568 -70.191,7.461L-70.191,-20.185L-73.667,-20.185L-73.667,7.461C-73.667,8.726 -73.615,10.187 -73.509,11.846C-73.404,13.505 -73.114,15.217 -72.64,16.981C-72.166,18.746 -71.482,20.496 -70.586,22.235C-69.691,23.973 -68.466,25.513 -66.912,26.856C-65.359,28.198 -63.397,29.292 -61.027,30.134C-58.657,30.976 -56.269,31.399 -52.952,31.399C-48.739,31.399 -45.223,30.778 -42.405,29.542C-39.588,28.305 -37.969,26.753 -36.283,24.593C-34.597,22.434 -33.653,19.752 -32.942,16.855C-32.903,16.698 -32.868,16.521 -32.835,16.336C-32.835,16.336 -32.692,15.6 -32.583,14.879C-32.418,13.789 -32.112,12.344 -30.892,12.418C-29.853,12.481 -29.587,13.15 -29.221,16.326C-29.172,16.747 -29.101,17.242 -29.026,17.56C-28.677,19.501 -27.957,21.263 -27.167,22.762C-26.129,24.734 -24.819,26.093 -23.344,27.33C-21.871,28.568 -20.145,29.49 -18.17,30.095C-16.195,30.699 -14.049,31.003 -11.731,31.003C-9.942,31.003 -8.111,30.832 -6.241,30.489C-4.372,30.147 -2.674,29.542 -1.146,28.673C0.381,27.804 1.646,26.658 2.647,25.236C3.646,23.815 4.147,21.997 4.147,19.785C4.147,17.68 3.779,15.942 3.042,14.571C2.303,13.202 1.29,12.083 0,11.214Z" style="fill-rule:nonzero;stroke-linejoin:miter;" />
              </g>
              <g transform="matrix(1,0,0,1,7.27596e-12,8329.23)">
                <rect
                  x="1305.59"
                  y="70.097"
                  width="3.002"
                  height="50.24"
                  style="stroke-linejoin:miter;" />
              </g>
              <g transform="matrix(1,0,0,1,1245.62,8402.5)">
                <path d="M0,0.001C0.212,-0.003 0.423,-0.007 0.64,-0.007L-0.419,-0.007C-16.775,-0.464 -18.387,-11.482 -18.476,-15.077C-19.096,-1.61 -33.502,-0.157 -37.241,-0.007L-37.842,-0.007C-37.74,-0.006 -37.614,-0.004 -37.462,0.001C-37.614,0.005 -37.74,0.008 -37.842,0.009L-37.241,0.009C-33.502,0.158 -19.096,1.611 -18.476,15.078C-18.387,11.483 -16.775,0.465 -0.419,0.009L0.64,0.009C0.423,0.009 0.212,0.004 0,0.001Z" style="fill-rule:nonzero;" />
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>

    <div class="flex justify-right align-center">
      <nav role="navigation">
        <ul>

          {% assign counter = 0 %}

          {% for link in linklists.footer.links %}
            {%- liquid
                        assign counter = counter | plus: 1 
            
                        assign has_sub_menu = false 
                        assign has_sub_categories = false 
                        assign parent_link_active = false 
                        assign child_list_handle = link.title | handle 
            
                        if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 
                            assign has_sub_menu = true 
            
                            for l in linklists[child_list_handle].links
                                if handle != blank and handle == l.object.handle
                                    assign parent_link_active = true
                                elsif page_title == l.title
                                    assign parent_link_active = true
                                endif
                            endfor
            
                        elsif link.type == 'collection_link' and link.object.all_tags.size > 0
                                assign has_sub_categories = true
                        endif
                        -%}

            <li class="nav-link {% if link.active or parent_link_active %} active{% endif %}{% if has_sub_menu or has_sub_categories %} has-dropdown{% endif %}{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}">
              <span class="counter">[{{ counter }}]</span>
              <a href="{{ link.url }}">{{ link.title }}</a>

            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>

  </div>
</footer>

{% comment %}
  Footer > Mobile
{% endcomment %}<footer class="mobile">

  <nav role="navigation">

    <ul class="flex justify-left align-top">

      {% for link in linklists.footer-mobile.links %}

        {% assign has_sub_menu = false %}
        {% assign has_sub_categories = false %}
        {% assign parent_link_active = false %}
        {% assign child_list_handle = link.title | handle %}

        {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
          {% assign has_sub_menu = true %}

          {% for l in linklists[child_list_handle].links %}
            {% if handle != blank and handle == l.object.handle %}
              {% assign parent_link_active = true %}
            {% elsif page_title == l.title %}
              {% assign parent_link_active = true %}
            {% endif %}
          {% endfor %}

        {% elsif link.type == 'collection_link' and link.object.all_tags.size > 0 %}
          {% assign has_sub_categories = true %}
        {% endif %}

        <li class="nav-link {% if link.active or parent_link_active %} active{% endif %}{% if has_sub_menu or has_sub_categories %} has-dropdown{% endif %}{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}">
          <a href="{{ link.url }}">
            {{ link.title }}
          </a>

        </li>
      {% endfor %}
    </ul>
  </nav>

  <div class="attribution">
    <div>
      <svg
        width="100%"
        height="100%"
        viewBox="0 0 620 294"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xml:space="preserve"
        xmlns:serif="http://www.serif.com/"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:10;">
        <g transform="matrix(1,0,0,1,-40065,-74882)">
          <g transform="matrix(4.16667,0,0,4.16667,35156.2,39935.9)">
            <g id="usal-logo" serif:id="usal logo">
              <g transform="matrix(1,0,0,1,1317.53,8405.01)">
                <path d="M0,-0.38L1.719,-0.38C3.013,-0.38 3.64,-0.859 3.64,-1.837C3.64,-2.815 3.074,-3.254 1.861,-3.254L0,-3.254L0,-0.38ZM2.083,-4.072C3.903,-4.072 4.894,-3.314 4.894,-1.897C4.894,-1.019 4.409,-0.359 3.499,-0.001C4.51,0.358 4.752,0.838 4.793,2.494C4.833,3.273 4.874,3.492 4.995,3.732L3.782,3.732C3.661,3.532 3.64,3.253 3.58,2.255C3.519,1.317 3.397,0.937 3.033,0.698C2.75,0.499 2.265,0.398 1.638,0.398L0,0.398L0,3.732L-1.253,3.732L-1.253,-4.072L2.083,-4.072ZM-4.247,-0.18C-4.247,3.094 -1.557,5.788 1.719,5.788C5.016,5.788 7.685,3.113 7.685,-0.18C7.685,-3.454 5.016,-6.168 1.8,-6.168C-1.577,-6.168 -4.247,-3.533 -4.247,-0.18ZM8.696,-0.18C8.696,3.612 5.582,6.706 1.719,6.706C-2.123,6.706 -5.258,3.612 -5.258,-0.18C-5.258,-4.032 -2.144,-7.086 1.82,-7.086C5.582,-7.086 8.696,-3.952 8.696,-0.18Z" style="fill-rule:nonzero;" />
              </g>
              <g transform="matrix(1,0,0,1,1294.56,8424.44)">
                <path d="M0,9.638C0,10.165 -0.146,11.178 -0.435,12.679C-0.725,14.18 -1.396,15.735 -2.449,17.34C-3.503,18.948 -5.03,20.369 -7.031,21.607C-9.033,22.844 -11.745,23.463 -15.168,23.463C-18.486,23.463 -21.093,22.74 -22.989,21.29C-24.885,19.842 -25.833,17.617 -25.833,14.615C-25.833,12.719 -25.465,11.178 -24.727,9.993C-23.99,8.809 -23.028,7.874 -21.844,7.189C-20.659,6.505 -19.329,6.018 -17.854,5.728C-16.38,5.439 -14.905,5.214 -13.43,5.056L-8.374,4.582C-6.531,4.424 -4.858,4.187 -3.357,3.871C-1.856,3.555 -0.738,2.951 0,2.054L0,9.638ZM5.688,22.515C5.003,22.515 4.476,22.37 4.108,22.08C3.739,21.791 3.476,21.409 3.318,20.935C3.16,20.461 3.067,19.935 3.042,19.355C3.014,18.776 3.002,18.197 3.002,17.617L3.002,-6.004C3.002,-9.111 1.882,-11.626 -0.356,-13.549C-2.595,-15.47 -7.303,-16.432 -12.202,-16.432C-17.1,-16.432 -21.793,-15.312 -24.451,-13.075C-27.006,-10.924 -28.428,-7.738 -28.723,-3.524L-25.715,-3.524C-25.421,-6.895 -24.212,-9.435 -22.081,-11.139C-19.844,-12.928 -15.994,-13.825 -12.36,-13.825C-10.306,-13.825 -7.655,-13.614 -6.232,-13.193C-4.81,-12.771 -3.424,-12.192 -2.528,-11.455C-1.633,-10.716 -0.975,-9.875 -0.553,-8.926C-0.132,-7.979 0.079,-6.952 0.079,-5.846C0.079,-4.424 0,-3.239 -0.158,-2.291C-0.316,-1.343 -0.711,-0.565 -1.343,0.039C-1.975,0.646 -2.911,1.119 -4.148,1.461C-5.385,1.805 -7.084,2.054 -9.243,2.212L-13.904,2.607C-15.537,2.765 -17.236,3.03 -18.999,3.397C-20.765,3.766 -22.371,4.384 -23.819,5.253C-25.268,6.122 -26.465,7.308 -27.413,8.809C-28.361,10.31 -28.835,12.245 -28.835,14.615C-28.835,18.513 -27.65,21.397 -25.28,23.266C-22.91,25.134 -19.566,26.07 -15.247,26.07C-13.299,26.07 -11.508,25.833 -9.875,25.359C-8.243,24.885 -6.782,24.227 -5.49,23.384C-4.201,22.542 -3.108,21.58 -2.212,20.5C-1.317,19.421 -0.632,18.276 -0.158,17.064L0,17.064L0,19.197C0,20.04 0.065,20.817 0.197,21.528C0.328,22.239 0.579,22.858 0.948,23.384C1.316,23.91 1.856,24.332 2.567,24.648C3.278,24.964 4.239,25.122 5.451,25.122C6.293,25.122 7.11,25.017 7.9,24.806L7.9,22.278C6.952,22.436 6.214,22.515 5.688,22.515Z" style="fill-rule:nonzero;stroke-linejoin:miter;" />
              </g>
              <g transform="matrix(1,0,0,1,1258.5,8419.51)">
                <path d="M0,11.214C-1.291,10.345 -2.818,9.661 -4.582,9.16C-6.347,8.66 -7.544,8.226 -9.545,7.857C-11.178,7.488 -12.341,7.119 -13.947,6.75C-15.554,6.383 -17.002,5.895 -18.292,5.289C-19.583,4.684 -20.623,3.88 -21.413,2.879C-22.203,1.88 -22.598,0.563 -22.598,-1.07C-22.598,-2.492 -22.242,-3.703 -21.531,-4.705C-20.82,-5.704 -19.912,-6.521 -18.806,-7.153C-17.7,-7.785 -16.221,-8.232 -14.825,-8.497C-13.43,-8.76 -12.276,-8.891 -10.906,-8.891C-9.221,-8.891 -7.641,-8.694 -6.166,-8.299C-4.692,-7.904 -3.415,-7.298 -2.334,-6.482C-1.256,-5.665 -0.412,-4.599 0.194,-3.283C0.798,-1.966 1.102,-0.386 1.102,1.457L4.104,1.457C4.104,-0.859 3.721,-2.835 2.958,-4.468C2.195,-6.099 1.142,-7.442 -0.201,-8.497C-1.544,-9.55 -3.138,-10.313 -4.981,-10.788C-6.825,-11.262 -8.8,-11.499 -10.906,-11.499C-12.644,-11.499 -14.153,-11.327 -15.892,-10.985C-17.629,-10.641 -19.426,-10.076 -20.82,-9.287C-22.216,-8.497 -23.362,-7.43 -24.257,-6.087C-25.153,-4.744 -25.6,-3.071 -25.6,-1.07C-25.6,1.722 -24.916,3.841 -23.546,5.289C-22.177,6.738 -20.452,7.857 -18.371,8.647C-16.292,9.437 -14.259,9.908 -11.885,10.424C-9.271,10.991 -8.164,11.332 -6.083,11.964C-4.003,12.597 -2.279,13.492 -0.908,14.651C0.46,15.81 1.146,17.522 1.146,19.785C1.146,21.524 0.723,22.959 -0.118,24.091C-0.961,25.224 -2.028,26.106 -3.318,26.737C-4.609,27.369 -6.004,27.804 -7.505,28.041C-9.006,28.277 -10.415,28.397 -11.731,28.397C-13.576,28.397 -15.286,28.133 -16.866,27.607C-18.446,27.08 -19.829,26.303 -21.014,25.276C-22.199,24.249 -23.457,23.053 -24.194,21.604C-24.932,20.155 -25.702,18.715 -26.075,16.546L-26.531,13.503C-26.531,13.503 -26.969,9.234 -30.891,9.237L-31.202,9.237C-34.474,9.235 -35.369,12.944 -35.615,15.008C-35.709,15.436 -35.795,15.846 -35.87,16.151C-36.502,18.733 -37.315,20.931 -38.763,22.748C-40.211,24.565 -41.879,25.961 -44.222,26.935C-46.566,27.91 -49.475,28.397 -52.952,28.397C-55.691,28.397 -57.564,28.041 -59.486,27.33C-61.409,26.619 -63.029,25.671 -64.345,24.485C-65.662,23.301 -66.703,21.958 -67.465,20.457C-68.229,18.956 -68.822,17.429 -69.243,15.875C-69.665,14.322 -69.928,12.808 -70.033,11.332C-70.139,9.859 -70.191,8.568 -70.191,7.461L-70.191,-20.185L-73.667,-20.185L-73.667,7.461C-73.667,8.726 -73.615,10.187 -73.509,11.846C-73.404,13.505 -73.114,15.217 -72.64,16.981C-72.166,18.746 -71.482,20.496 -70.586,22.235C-69.691,23.973 -68.466,25.513 -66.912,26.856C-65.359,28.198 -63.397,29.292 -61.027,30.134C-58.657,30.976 -56.269,31.399 -52.952,31.399C-48.739,31.399 -45.223,30.778 -42.405,29.542C-39.588,28.305 -37.969,26.753 -36.283,24.593C-34.597,22.434 -33.653,19.752 -32.942,16.855C-32.903,16.698 -32.868,16.521 -32.835,16.336C-32.835,16.336 -32.692,15.6 -32.583,14.879C-32.418,13.789 -32.112,12.344 -30.892,12.418C-29.853,12.481 -29.587,13.15 -29.221,16.326C-29.172,16.747 -29.101,17.242 -29.026,17.56C-28.677,19.501 -27.957,21.263 -27.167,22.762C-26.129,24.734 -24.819,26.093 -23.344,27.33C-21.871,28.568 -20.145,29.49 -18.17,30.095C-16.195,30.699 -14.049,31.003 -11.731,31.003C-9.942,31.003 -8.111,30.832 -6.241,30.489C-4.372,30.147 -2.674,29.542 -1.146,28.673C0.381,27.804 1.646,26.658 2.647,25.236C3.646,23.815 4.147,21.997 4.147,19.785C4.147,17.68 3.779,15.942 3.042,14.571C2.303,13.202 1.29,12.083 0,11.214Z" style="fill-rule:nonzero;stroke-linejoin:miter;" />
              </g>
              <g transform="matrix(1,0,0,1,7.27596e-12,8329.23)">
                <rect
                  x="1305.59"
                  y="70.097"
                  width="3.002"
                  height="50.24"
                  style="stroke-linejoin:miter;" />
              </g>
              <g transform="matrix(1,0,0,1,1245.62,8402.5)">
                <path d="M0,0.001C0.212,-0.003 0.423,-0.007 0.64,-0.007L-0.419,-0.007C-16.775,-0.464 -18.387,-11.482 -18.476,-15.077C-19.096,-1.61 -33.502,-0.157 -37.241,-0.007L-37.842,-0.007C-37.74,-0.006 -37.614,-0.004 -37.462,0.001C-37.614,0.005 -37.74,0.008 -37.842,0.009L-37.241,0.009C-33.502,0.158 -19.096,1.611 -18.476,15.078C-18.387,11.483 -16.775,0.465 -0.419,0.009L0.64,0.009C0.423,0.009 0.212,0.004 0,0.001Z" style="fill-rule:nonzero;" />
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div>{{ settings.business-address }}</div>
  </div>
</footer>


<script type="text/javascript">
  jQuery('.has-dropdown').on('mouseenter', function() {
  jQuery(this).find('.submenu').addClass('show-dropdown');
        });
        jQuery('.has-dropdown').on('mouseleave', function() {
          jQuery('.submenu').removeClass('show-dropdown');
        });</script>