<div id="navbar-mobile">
  <div class="row">
    <div>
      <span id="hamburger">Menu</span>
    </div>
    <div data-logo--mobile class="flex justify-center">
      {% render 'mobile-logo-text' %}
    </div>
    <div class="flex justify-right" data-cart-mobile>
      <a href="/cart">
        <span>Cart</span>
        ({{ countCart }})
      </a>
    </div>
  </div>
</div>

{% comment %} 
  *
  * Navbar Modal
  *
{% endcomment %}<div class="navbar-mobile--modal">
  <div class="modal-row">
    <div class="closer">[close]</div>

    <div class="logo">
      {% render 'logo-simple' %}
    </div>

    <nav class="modal-nav" role="navigation">

      <div class="flex flex-row justify-between" style="padding-bottom: 10px;">
        <div>{{ "today" | date: "%B %d" }}</div>
        <div>{{ "today" | date: "%Y" }}</div>
      </div>

      <ul>
        {% assign counter = 0 %}

        {% for link in linklists.main-menu.links %}

          {% assign counter = counter | plus: 1 %}

          {% assign has_sub_menu = false %}
          {% assign has_sub_categories = false %}
          {% assign parent_link_active = false %}
          {% assign child_list_handle = link.title | handle %}

          {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
            {% assign has_sub_menu = true %}

            {% for l in linklists[child_list_handle].links %}
              {% if handle != blank and handle == l.object.handle %}
                {% assign parent_link_active = true %}
              {% elsif page_title == l.title %}
                {% assign parent_link_active = true %}
              {% endif %}
            {% endfor %}

          {% endif %}

          <li class="nav-link {% if link.active or parent_link_active %} active{% endif %}{% if has_sub_menu or has_sub_categories %} has-dropdown{% endif %}{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}">
            <a href="{{ link.url }}">
              <span class="counter">[{{ counter }}]</span>
              {{ link.title }}{% if has_sub_menu or has_sub_categories %}
                <i class="plus">+</i>
              {% endif %}
            </a>

            {% comment %}
              * Sub-Menu
            {% endcomment %}
            {% if has_sub_menu or has_sub_categories %}
              <ul class="submenu">
                {% if has_sub_menu %}
                  {% for l in linklists[child_list_handle].links %}
                    <li class="{% if l.active %} active{% endif %}">
                      <a class="dropdown-link" href="{{ l.url }}">
                        <span>{{ '/' | escape }}{{ l.title }}</span>
                      </a>
                    </li>
                  {% endfor %}

                {% elsif has_sub_categories %}

                  {% for tag in link.object.all_tags %}
                    <li class="{% if current_tags contains tag %} active{% endif %}">
                      <a href="{{ link.url }}/{{ tag | handle }}">{{ tag }}</a>
                    </li>
                  {% endfor %}

                {% endif %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>

  </div>
</div>

<script>
  var hamburger = document.getElementById('hamburger');
  var mobileContent = document.getElementById('mobile-content');

  hamburger.addEventListener('click', function(e) {
    mobileContent.style.height = 'auto';
  });
</script>