<div class="video-container--mobile">

  {% render 'logo' %}

  <div class="enter-button">
    <a href="#headertarget" title="Enter">{{ 'Enter' | escape }}</a>
  </div>

  <video
    id="background-video"
    autoplay="true"
    loop
    muted
    playsinline
    class="background">
    <source
      class="mp4"
      format="mp4"
      src="{{ section.settings.videomp4 }}">
    <source class="webm" src="{{ section.settings.videowebm }}">
  </video>
</div>

<section data-module--calendar class="home--module">

  <div class="video-container">
    <video
      id="background-video"
      autoplay="true"
      loop
      muted
      playsinline
      class="background">
      <source
        class="mp4"
        format="mp4"
        src="{{ section.settings.videomp4 }}">
      <source class="webm" src="{{ section.settings.videowebm }}">
    </video>
  </div>

  <header id="headertarget">
    {% render 'navbar' %}
    {% render 'navbar--mobile' %}
  </header>


  <div id="calendar-module" class="module-content calendar-container">
    <div class="row">

      <div class="title-block">
        <h2 class="title">{{ 'Calendar' | escape }}</h2>
        <div class="links flex justify-between">
          <span>{{ '(Upcoming Events)' | escape }}</span>
          <a href="/apps/events/calendar/" title="View all">{{ 'View All' | escape }}</a>
        </div>
      </div>

      {% assign counter = 0 %}
        <div>
        {% comment %} DESKTOP GRID {% endcomment %}
        <div class="calendar-grid desktop">

          {% for product in collections.all-events.products limit: 12 %}

            {% assign counter = counter | plus: 1 %}

            <div class="calendar-item">
              <div class="top">
                <div class="date">
                  {% if product.first_available_variant.title %}
                    {{ product.first_available_variant.title }}
                  {% else if product.variant %}
                    {% for variant in product.variants %}
                      {{ variant.title }}
                    {% endfor %}
                  {% else %}
                    {{ 'TBD' | escape }}
                  {% endif %}
                </div>
                <div class="counter supply">
                  {% if counter < 10 %}
                    {{ '[00' | escape }}{{ counter }}{{ ']' | escape }}
                  {% elsif counter >= 10 %}
                    {{ '[0' | escape }}{{ counter }}{{ ']' | escape }}
                  {% else %}
                    {{ '[' | escape }}{{ counter }}{{ ']' | escape }}
                  {% endif %}
                </div>
              </div>
              <div class="bottom">
                <div class="title">
                  <a class="supply" href={{ product.url }}>{{ product.title }}</a>
                </div>
              </div>
            </div>

          {% endfor %}
        </div>

        {% comment %} MOBILE GRID {% endcomment %}
        <div class="calendar-grid mobile">
          {% for product in collections.all-events.products limit: 8 %}

            <div class="calendar-item">
              <div class="top">
                <div class="date">
                  {% if product.first_available_variant.title %}
                    {{ product.first_available_variant.title }}
                  {% else if product.variant %}
                    {% for variant in product.variants %}
                      {{ variant.title }}
                    {% endfor %}
                  {% else %}
                    {{ 'TBD' | escape }}
                  {% endif %}
                </div>
                <div class="counter supply"></div>
              </div>
              <div class="bottom">
                <div class="title">
                  <a class="supply" href={{ product.url }}>{{ product.title }}</a>
                </div>
              </div>
            </div>

          {% endfor %}
        </div>
      </div>

    </div>
  </div>


</section>

{% schema %}
  {
    "name": "Module - Calendar",
    "tag": "section",
    "class": "module",
    "settings": [
      {
        "type": "text",
        "id": "videomp4",
        "label": "Video - MP4",
        "default": "https://cdn.shopify.com/videos/c/o/v/92f84f13071649a3b1227f03a3db7f2d.mp4"
      }, {
        "type": "text",
        "id": "videowebm",
        "label": "Video - WEBM",
        "default": "https://cdn.shopify.com/videos/c/o/v/2bccb1c0406a4040848e8a23956e942d.webm"
      }
    ]
  }
{% endschema %}

<script>
  var video = document.getElementById('background-video');
  var playPromise = video.play();

  if (playPromise !== undefined) {
    playPromise.then(_ => {

      // Automatic playback started!
      // Show playing UI.
    }).catch(error => {

      // Auto-play was prevented
      // Show paused UI.
    });
  }
</script>