<section data-module--see class="home--module">

  <div class="module-content see-container">

    <div class="row">

      <div class="title-block">
        <h2 class="title">{{ 'See' | escape }}</h2>
        <div class="links">
          <span>{{ '(Latest Videos)' | escape }}</span>
          <a href="/blogs/see-tv" title="View all">{{ 'View All' | escape }}</a>
        </div>
      </div>

      <div class="content-block">
        <div class="videos">

          <ul class="video-loop">
            {% for post in blogs.see-tv.articles limit: 2 %}

                <li class="video-item">
                    {% if forloop.length < 10 %}
                        00{{ forloop.index }}
                    {% else %}
                        0{{ forloop.index }}
                    {% endif %}
                    <h3>{{ post.title }}</h3>
                    <div class="video">

                      <img class="video-thumbnail" src="{{ post.image | img_url: '700x'}}" alt="{{ post.title }}" />
                      <div class="play_button">
                        {% render 'play-button' %}
                      </div>

                        {% assign see_video = post.metafields.see.video_file.value %}
                        <video controls>
                            {% for video in see_video limit: 2 %}
                                
                                    {% for url in video.sources %}
                                        {% case url.height %}
                                            {% when 1080 %}
                                                {% case url.format %}
                                                    {% when 'mp4' %}
                                                        <source data-format="{{ url.format }}" class="url mp4" src="{{ url.url }}">
                                                    {% when 'm3u8' %}
                                                        <source data-format="{{ url.format }}" class="url webm" src="{{ url.url }}">
                                                {% endcase %}
                                        {% endcase %}
                                    {% endfor %}
                                </video>
                            {% endfor %}
                        </video>

                    </div>
                </li>

            {% endfor %}
          </ul>

        </div>

        <div class="icon">
          <div class="info">
            <span>{{ '[B]' | escape }}</span>
            <span>{{ 'Pathfind' | escape }}</span>
          </div>
          <div class="image string-icon">
            {% render 'string-icon' %}
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<script>
  jQuery('.play_button').on('click', function(e) {

        jQuery(this).siblings('.video-thumbnail').hide();
        jQuery(this).hide();
        jQuery(this).siblings('video').get(0).play();
      
  })
</script>