<section data-module--field-log class="home--module">

    <div class="title-block">

        <h2 class="title">{{ 'Field Log' | escape }}</h2>

        <div class="links">
            <span>{{ '(Latest Entries)' | escape }}</span>
            <a href="/blogs/field-log/" title="View all">{{ 'View All' | escape }}</a>
        </div>
    </div>

    {% comment %}
    Grid > Desktop
    {% endcomment %}
    <div class="wrapper desktop">
        <div class="blog-grid">
            <div class="wrapper">
                {% for article in blogs.field-log.articles limit: 10 %}
                    <article class="item">

                        <div class="title">
                            <h3><a href="{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a></h3>
                            <span>{{ article.published_at | date: '%D' }}</span>
                        </div>

                        <div onclick="window.location='{{ article.url }}';" class="image" style="background: url('{{ article.image | img_url: '700x' }}'); background-size: cover; background-position: center center;">          
                        </div>

                     
                        <div class="excerpt">
                            <p>
                                {{ article.excerpt }}
                            </p>
                        </div>

                        <div class="link">
                            <a href="{{ article.url }}" title="Full post">{{ 'Full post' | escape }}</a>
                        </div>
                         

                    </article>
                {% endfor %}
            </div>
        </div>
    </div>

    {% comment %}
    Grid > Mobile
    {% endcomment %}
    <div class="wrapper mobile">
        <div class="blog-grid">
            <div class="wrapper">
                {% for article in blogs.field-log.articles limit: 4 %}
                    <article class="item">

                        <div class="title">
                            <h3>{{ article.title }}</h3>
                            <span>{{ article.published_at | date: '%D' }}</span>
                        </div>

                        <div class="image" style="background: url('{{ article.image | img_url: '700x' }}'); background-size: cover; background-position: center center;">          
                        </div>

                    
                        <div class="excerpt">
                            <p>
                                {{ article.excerpt }}
                            </p>
                        </div>

                        <div class="link">
                            <a href="{{ article.url }}" title="Full post">Full post</a>
                        </div>

                    </article>
                {% endfor %}
            </div>
        </div>
    </div>


    </div>
</section>