<div data-blog--see class="page see-blog">

  <div class="topper">
    <div class="topper-logo">{% render 'mobile-logo-text' %}</div>
    <div>
      {{ "today" | date: "%B %d, %Y" }}
    </div>
  </div>
  <header>
    {% render 'navbar' %}
    {% render 'navbar--mobile' %}
  </header>


  <div class="content">

    <div class="video-archive">

      <div class="row">
        <ul class="video-loop">
          {% for post in blogs.see-tv.articles %}

            <li class="video-item">
              {% if forloop.length < 10 %}
                [00{{ forloop.index }}]
              {% else %}
                [0{{ forloop.index }}]
              {% endif %}
              <h3>{{ post.title }}</h3>
              <div class="video">

                <img src="{{ post.image | img_url: '700x'}}" alt="{{ post.title }}" />
                <div class="play_button">
                  {% render 'play-button' %}
                </div>

                {% assign see_video = post.metafields.see.video_file.value %}
                <video controls>
                  {% for video in see_video %}

                    {% for url in video.sources %}
                      {% case url.height %}
                        {% when 1080 %}
                        {% case url.format %}
                          {% when 'mp4' %}
                          <source
                            preload="none"
                            data-format="{{ url.format }}"
                            class="url mp4"
                            src="{{ url.url }}">
                          {% when 'm3u8' %}
                          <source
                            preload="none"
                            data-format="{{ url.format }}"
                            class="url webm"
                            src="{{ url.url }}">
                        {% endcase %}
                      {% endcase %}
                    {% endfor %}

                  {% endfor %}
                </video>

              </div>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>

  </div>

</div>


<style>
  .topper {
    border-bottom: 2px solid var(--white);
  }
  footer,
  footer a {
    color: var(--white) !important;
  }
  footer.desktop .row {
    border-top: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
  }
  footer svg {
    fill: var(--white) !important;
  }
</style>

<script>
  var logoHolder = $('div[data-logo]');
  logoHolder.html('<h1>/See</h1>')(function() {

    $('body').css('background', 'var(--black)');

  }(jQuery))
</script>