<div data-collection--event class="collection">

  <div class="topper">
    <div class="topper-logo">{% render 'mobile-logo-text' %}</div>
    <div>
      {{ "today" | date: "%B %d, %Y" }}
    </div>
  </div>
  <header>
    {% render 'navbar' %}
    {% render 'navbar--mobile' %}
  </header>

  <div class="view-all--container">
    <div class="row">
      <div>
        <span>{{ 'Upcoming Events' | escape }}</span>
      </div>
      <div>
        <a href="#" title="View all">[View All]</a>
      </div>
    </div>
  </div>

  {% comment %} 
    Desktop Loop
  {% endcomment %}<div class="loop--event desktop">
    {% for product in collections.learn.products %}

      <div data-name="{{ product.handle }}" class="loop-learn--item">
        <div class="row">
          <pre class="learn-item--date">
                        
                        
                            
                        
                        
                            <span>{{ variant.title }}</span>
                        
                        
                            <span class="additional">+{{ count | minus: 1 }}</span>
                        
                    </pre>
          {% assign count = 0 %}
          {% for variant in product.variants %}
            {% assign count = count | plus: 1 %}
          {% endfor %}
          {% for variant in product.variants limit: 1 %}{% endfor %}
          {% if product.variants.size > 1 %}{% endif %}

          <div class="title">
            <h2>
              <a href="{{ product.url }}" title="{{ product.title }}">
                {{ product.title }}
              </a>
            </h2>
          </div>

          <div class="tooltip">
            <div class="row">
              <div class="left">
                <img src="{{ 'star.svg' | asset_url }}" alt="Usal Project" />
              </div>

              <div class="right">
                <p>Available:
                  <span class="variant-count">{{ count }}</span>
                </p>
                <div class="tags">
                  {% for variant in product.variants %}
                    <span class="tag">{{ variant.title }}</span>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="{{ product.handle }} image-container" style="background: url('{{ product.featured_image | image_url }}'); background-size: cover;">&nbsp;</div>

      <script>
        (function($) {
          var pHandle = '{{ product.handle }}';
          var dateHolder = $('.learn-item--date');

          // Log Product Object
          $.getJSON('/products/' + pHandle + '.js', function(product) {
            console.log(product);
          });

          // Show/Hide Image on Hover
          $('.loop-learn--item').on('mouseenter', function(e) {
            var targ = $(this).attr('data-name');
            var k = '.' + targ;
            $(k).css({opacity: '1', height: '100%'});
            console.log(k)
          });
          $('.loop-learn--item').on('mouseleave', function(e) {
            $('.image-container').css({opacity: '0', height: '0px'});
          });

        })(jQuery);
      </script>

    {% endfor %}
  </div>

  <div class="loop--event mobile">
    <div class="top">
      <div class="title">
        <h1>{{ '/Learn' | escape }}</h1>
      </div>
      <div class="image">
        <img
          class="featured-image"
          src="{{ collection.featured_image | img_url: '1000x' }}"
          alt="{{ collection.title }}" />
      </div>
    </div>

    <div class="loop">
      <ul class="row">
        {% for product in collections.learn.products %}
          <li class="loop-item">
            <div class="top">
              <span class="counter supply"></span>

              <h2 class="title">
                {% for variant in product.variants limit: 1 %}
                  {{ variant.title }}
                {% endfor %}
              </h2>
            </div>

            <div class="bottom">
              <div class="title">
                <a href="{{ product.url }}" title="{{ product.title }}">
                  <h3>{{ product.title }}</h3>
                </a>
              </div>
              <div class="price">
                <span>{{ product.price | money_without_trailing_zeros }}</span>
              </div>
            </div>

          </li>
        {% endfor %}
      </ul>
    </div>
  </div>


</div>

<script>
  var logoHolder = $('div[data-logo]');
  logoHolder.html('<h1>    {{ template.suffix | capitalize }} </h1>')(function() {
    $('body').css('background', 'var(--salmon)');
    $('.learn-item--date').on('mouseenter', function() {
      $(this).siblings('.tooltip').css({display: 'flex', marginLeft: '0px', opacity: '1'})
    });
    $('.learn-item--date').on('mouseleave', function() {
      $('.tooltip').css({marginLeft: '20px', opacity: '0'});
      setTimeout(function() {
        $('.tooltip').css('display', 'none');
      }, 1000);
    });

  }(jQuery))
</script>
<script>// var dateHolder = document.querySelector('learn-item--date');
// var dateContents = fetch(window.Shopify.routes.root + 'cart.js').then(response => response.json()).then(data => {
// var datax = JSON.stringify(data.item_count);
// countHolder.innerHTML = datax.padStart(2, '0');
// });
</script>