{% assign add_to_cart = 'Add' %}
{% assign sold_out = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}

<form
  action="/cart/add"
  method="post"
  enctype="multipart/form-data">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product | image_url: 'grande' }}" />
  <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
  {% if product.available %}
    <link itemprop="availability" href="http://schema.org/InStock" />
  {% else %}
    <link itemprop="availability" href="http://schema.org/OutOfStock" />
  {% endif %}


  {% assign event = product.metafields.evey.event.value | default: product.metafields.evey.event %}


  <div
    data-product--goods
    class="single-product goods"
    itemscope
    itemtype="http://schema.org/Product">

    <div class="topper">
      <div class="topper-logo">{% render 'mobile-logo-text' %}</div>
      <div>
        {{ "today" | date: "%B %d, %Y" }}
      </div>
    </div>

    <header>
      {% render 'navbar' %}
      {% render 'navbar--mobile' %}
    </header>

    <div class="anime-line">&nbsp;</div>

    <div class="product">
      <div class="row">
        {% comment %} 
          * Slideshow Desktop
        {% endcomment %}
        <div class="cell slideshow-cell desktop">
          <div class="wrappy">
            <div class="swiper-container desktop">
              <div class="swiper-wrapper">
                {% for image in product.images %}
                  <div class="swiper-slide" style="background: url('{{ image | img_url: '1024x' }}'); background-size: cover; background-position: center;"></div>
                {% endfor %}
              </div>

            </div>
            <div class="swiper-pagination desktop"></div>
          </div>

        </div>

        {% comment %} 
        * TOP ===========================================================
        {% endcomment %}
        <div class="details">
          <div class="top">

            {% comment %} Title {% endcomment %}
            <div class="title desktop">
              <h1>
                {{ product.title }}
              </h1>
            </div>

            {% comment %} 
            * Add To Cart
            {% endcomment %}
            <div class="add-to-cart">
              <div id="product-add">
                <input
                  type="submit"
                  name="add"
                  id="add"
                  value="{{ add_to_cart | escape }}">
              </div>
            </div>

          </div>

          {% comment %}
          * BOTTOM ========================================================
          {% endcomment %}
          <div class="bottom">
            <div class="title-price-details">
              <div class="title mobile">
                <h1>{{ product.title }}</h1>
              </div>
              <div class="price">
                {{ product.price | money_without_trailing_zeros }}
              </div>
              <div class="price-details">
                {% if product.description != '' %}
                  <p>{{ product.description }}</p>
                {% else %}
                  <p>{{ 'Usal goods are designed and printed in Los Angeles, California. Produced with high quality, comfortable garments. Made for the Usal community and their adventures, with love. Shop our latest collection now.' | escape }}</p>
                {% endif %}
              </div>
            </div>

            {% comment %} 
              * Slideshow Mobile
            {% endcomment %}
            <div class="cell slideshow-cell mobile">

              <div class="wrappy">
                <div class="swiper-container mobile">
                  <div class="swiper-wrapper">
                    {% for image in product.images %}
                      <div class="swiper-slide" style="background: url('{{ image | img_url: '700x' }}'); background-size: cover; background-position: center;"></div>
                    {% endfor %}
                  </div>
                </div>
                <div class="swiper-pagination mobile"></div>
              </div>

            </div>

            <div class="cell">
              {% comment %} Quantity {% endcomment %}
              <div class="quantity">
                <div class="title">
                  <span>{{ 'Quantity:' | escape }}</span>
                </div>

                <div class="quantity-list switch-field">
                  <input
                    class="quantity-input"
                    type="radio"
                    id="quantity-1"
                    name="quantity"
                    min="1"
                    value="1"
                    checked="checked">
                  <label for="quantity-1">01</label>

                  <input
                    class="quantity-input"
                    type="radio"
                    id="quantity-2"
                    name="quantity"
                    min="2"
                    value="2">
                  <label for="quantity-2">02</label>

                  <input
                    class="quantity-input"
                    type="radio"
                    id="quantity-3"
                    name="quantity"
                    min="3"
                    value="3">
                  <label for="quantity-3">03</label>

                  <input
                    class="quantity-input"
                    type="radio"
                    id="quantity-4"
                    name="quantity"
                    min="4"
                    value="4">
                  <label for="quantity-4">04</label>

                  <input
                    class="quantity-input"
                    type="radio"
                    id="quantity-5"
                    name="quantity"
                    min="5"
                    value="5">
                  <label for="quantity-5">05</label>

                  <input
                    class="quantity-input"
                    type="radio"
                    id="quantity-6"
                    name="quantity"
                    min="6"
                    value="6">
                  <label for="quantity-6">06</label>

                  <input
                    class="quantity-input"
                    type="radio"
                    id="quantity-7"
                    name="quantity"
                    min="7"
                    value="7">
                  <label for="quantity-7">07</label>

                  <input
                    class="quantity-input"
                    type="radio"
                    id="quantity-8"
                    name="quantity"
                    min="8"
                    value="8">
                  <label for="quantity-8">08</label>

                  <input
                    class="quantity-input"
                    type="radio"
                    id="quantity-9"
                    name="quantity"
                    min="9"
                    value="9">
                  <label for="quantity-9">09</label>

                  <input
                    class="quantity-input"
                    type="radio"
                    id="quantity-10"
                    name="quantity"
                    min="10"
                    value="10">
                  <label for="quantity-10">10</label>

                </div>
              </div>

              {% comment %} Variants {% endcomment %}
              <div class="sizes">

                <div class="title">
                  <span>{{ 'Size:' | escape }}</span>
                </div>

                <div class="variants-list switch-field">
                  {% for variant in product.variants %}

                      <input
                        class="date-radio"
                        type="radio"
                        data-price="{{ variant.price | money_without_trailing_zeros }}"
                        id="{{ variant.id }}"
                        value="{{ variant.id }}"
                        name="id"
                        {% if found_available_variant == false %}{% assign found_available_variant = true %}checked="checked"{% endif %} />

                      <label class="label" for="{{ variant.id }}">
                        {{ variant.title }}
                      </label>

                  {% endfor %}
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>


  </div>

</form>

<script defer src="{{ 'option_selection.js' | shopify_asset_url }}"></script>

<script>
  /*
  * Page Title
  */
  var logoHolder = $('div[data-logo]');
  logoHolder.html('<h2 class="page-title">/{{ template.suffix | capitalize }} </h2>');

  (function() {
    $('body').css('background', '#191919');
    $('body').addClass('goods-product');
  }(jQuery));
</script>

{% comment %}
  RADIO BUTTON FUNCTIONS
{% endcomment %}<script type="text/javascript" charset="utf-8">
  jQuery(function() { 
  /*
                                                   * Variants
                                                   */
                                              
                                                  // Set underline
                                                  jQuery('.date-radio').first().addClass('active');
                                              
                                                  // Check first variant
                                                  var firstVariantID = '#{{ product.selected_or_first_available_variant.id | escape }}';
  jQuery(firstVariantID).attr('checked', true);
                                              
                                                  // Click Function
                                                  jQuery("input.date-radio").click(function() {
                                              
                                                    jQuery('.date-radio').removeClass('active');
                                                    jQuery(this).addClass('active');
                                              
                                                  });
                                              
                                                });</script>


<script type="text/javascript" charset="utf-8">
  //Quantity Inputs
  jQuery('.field').first().addClass('active-button');
                              
                                jQuery('.field').on('click', function(e) {
                              
                                  jQuery('.field').removeClass('active-button');
                                  
                                  jQuery(this).addClass('active-button');
                              
                                  jQuery(this).children('input').attr('checked');
                              
                                });</script>

<script>
  /*
  * Variant Selection
  */    
  var selectCallback = function(variant, selector) {
    if (variant) { // Swap image.
      if (variant.featured_image) {
        var newImage = variant.featured_image; // New image object.
        var mainImageDomEl = jQuery('.product-photo-container img')[0]; // DOM element of main image we need to swap.
        Shopify.Image.switchImage(newImage, mainImageDomEl, switchImage); // Define switchImage (the callback) in your theme's JavaScript file.
      }


      // Selected a valid variant that is available.
      if (variant.available) { // Enabling add to cart button.
        jQuery('#add').removeClass('disabled').prop('disabled', false).val({{ add_to_cart | json }});

        // If item is backordered yet can still be ordered, we'll show special message.
        if (variant.inventory_management && variant.inventory_quantity <= 0) {
          jQuery('#selected-variant').html(
            {{ product.title | json }}
            {% unless hide_default_title %} + ' - ' + variant.title{% endunless %}
          );
          jQuery('#backorder').removeClass("hidden");
        } else {
          jQuery('#backorder').addClass("hidden");
        }

      } else { // Variant is sold out.


        jQuery('#backorder').addClass('hidden');
        jQuery('#add').val({{ sold_out | json }}).addClass('disabled').prop('disabled', true);

      }

      // Whether the variant is in stock or not, we can update the price and compare at price.
      if (variant.compare_at_price > variant.price) {
        jQuery('#product-price').html('<span class="product-price on-sale">' + Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + '</span>' + '&nbsp;<s class="product-compare-price">' + Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}") + '</s>');
      } else {
        jQuery('#product-price').html('<span class="product-price">' + Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + '</span>');
      }
    } else { // variant doesn't exist.
      jQuery('#product-price').empty();
      jQuery('#backorder').addClass('hidden');
      jQuery('#add').val({{ unavailable | json }}).addClass('disabled').prop('disabled', true);
    }
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('product-select', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}$('.selector-wrapper:eq(0)').prepend('<label>                       {{ product.options.first }} </label>');{% endif %}
  });
  Shopify.Image.preload({{ product.images | json }}, 'grande');
  Shopify.Image.preload({{ product.images | json }}, '1024x1024');
</script>


<script>
  var Swipes = new Swiper('.swiper-container.desktop', {
    loop: true,
    pagination: {
      el: '.swiper-pagination.desktop',
      clickable: true
    }
  });
</script>

<script>
  var Swipes = new Swiper('.swiper-container.mobile', {
    loop: true,
    pagination: {
      el: '.swiper-pagination.mobile',
      clickable: true
    }
  });
</script>